body{
    text-align: right;
    direction: rtl;
    font-family: Verdana, Arial, Tahoma, Serif;    
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 2px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    /* background-color: #2f4f4f; */
    background-color: gray;
    border-radius: 10px;
    /* border: 1px solid #ffffff; */
  }


.parent {
    display: grid;
    grid-template-columns: minmax(20rem,auto) 20rem;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    inset: 0;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
}
.parent>div{ overflow-y: auto; }

.div2 { grid-area: 1 / 1 / 2 / 2; }
.div3 { grid-area: 1 / 2 / 2 / 3; }

.div3 {
    box-shadow: 0 0 15px gray;
    z-index: 2;
    background-color: white;
}

/* .div2 {
    background-color: #f6f6f6;
} */


#user_box_head_wrapper{
    top: 0;
    position: sticky;
    background-color: #cbd3d3;
    z-index: 1;
}

#user_box_head{
    background-color: darkslategray;
    padding: 8px 15px 15px 80px;
    color: white;    
    background-image: url(../img/ico_profile.png);
    background-repeat: no-repeat;
    background-position: 15px center;
}

#user_box.head_shrink #user_box_head{
    background-size: 2.8rem;
}

#user_box.head_shrink #user_box_head_name{
    font-size: 1.5em;
    padding: 0;
}

#user_box.head_shrink #user_box_head_id{
    display: none;
}

#user_box_head>div{
    padding: 4px;
}

#user_box_head_name{
    font-size: 2em;
    transition: 0.2s;
}

#user_box_progress{
    height: 5em;
    position: relative;
    margin: 10px;
    transition: 0.2s;
}

#user_box.head_shrink #user_box_progress{
    margin: 5px;
    height: 1.5em;
}

#dv_progress_test{
    border:1px black solid;
    width:300px;
    height: 100px;
    position: relative;
    margin: 100px;
}
.progress_box{
    inset: 0;
    position: absolute;
    direction: ltr;
}

.pb_parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    inset: 0;
}
    
.pb_div1 { grid-area: 1 / 1 / 2 / 2; }
.pb_div2 { grid-area: 1 / 2 / 2 / 3; }
.pb_div3 { grid-area: 1 / 3 / 2 / 4; }
.pb_div4 { grid-area: 1 / 4 / 2 / 5; }
.pb_div5 { grid-area: 1 / 5 / 2 / 6; }
.pb_div6 { grid-area: 1 / 6 / 2 / 7; }
.pb_div7 { grid-area: 1 / 7 / 2 / 8; }
.pb_div8 { grid-area: 1 / 8 / 2 / 9; }
.pb_div9 { grid-area: 1 / 9 / 2 / 10; }
.pb_div10 { grid-area: 1 / 10 / 2 / 11; }


#user_box:not(.head_shrink) .pb_div1>div  { top: 72%; }
#user_box:not(.head_shrink) .pb_div2>div  { top: 64%; }
#user_box:not(.head_shrink) .pb_div3>div  { top: 56%; }
#user_box:not(.head_shrink) .pb_div4>div  { top: 48%; }
#user_box:not(.head_shrink) .pb_div5>div  { top: 40%; }
#user_box:not(.head_shrink) .pb_div6>div  { top: 32%; }
#user_box:not(.head_shrink) .pb_div7>div  { top: 24%; }
#user_box:not(.head_shrink) .pb_div8>div  { top: 16%; }
#user_box:not(.head_shrink) .pb_div9>div  { top: 8%;  }
#user_box:not(.head_shrink) .pb_div10>div  { top: 0%;}

.pb_parent>div{
    position: relative;
}

.pb_parent>div>div{
    background-color: white;
    border: 1px #00000050 solid;
    position: absolute;
    inset: 0.3em;
    border-radius: 5px;
}

.pb_parent>div.in_progress>div{
    /* background-color: orange; */
    background-color: #2f4f4f;
}

#user_box_progress_desc{
    text-align: center;
    padding: 0px 8px 8px 8px;
}

#user_box.head_shrink #user_box_progress_desc{
    display: none;
}

.user_box_item{
    /* min-height: 100px; */
    border-bottom: 1px gray dotted;
    padding: 20px 60px 20px 10px;
    position: relative;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
}

.user_box_item>div{
    padding: 4px;
}

.tb_user_box_item td{
    padding: 2px;
}
.user_box_item_title{
    font-weight: bold;
}

.user_box_item_value{
    font-weight: bold;
    font-size: 1.5em;
    color: #06b12e;
}


.user_box_item:hover .user_box_item_toolbox{
    display: initial;
}

.user_box_item_toolbox{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 36px;
}

.user_box_item_toolbox>div{
    display: inline-block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border-radius: 36px;
    cursor: pointer;
}

.bt_item_delete{
    background-image: url(../img/delete.png);
}

.bt_item_info{
    background-image: url(../img/info.png);
}

.user_box_item_toolbox>div:hover{
    box-shadow: 0 0 8px gray;
}

#header{
    position: relative;
    background-color: white;
    /* border-bottom: 1px silver solid; */
    box-shadow: 0px 5px 6px #80808080;
    padding: 0 17.5em 1.4em 1em;
    padding-top: 1em;
    position: sticky;
    top:0;
    z-index:1;
    background-color: azure;
}

#header_logo{
    position: absolute;
    right: 4em;
    top: 1em;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10em;
    width: 10em;
    border-radius: 10em;
    border: 1px silver solid;
    box-shadow: 0px 5px 6px #80808080;
    transition: 0.2s;
}

#header_title_1{
    font-weight: bold;
    font-size: 2.3em;
    transition: 0.2s;
    color: #2f4f4f;
    white-space: nowrap;
}

#header_title_2{
    color: #2f4f4f;
    font-size: 1.6em;
    white-space: nowrap;
}

#main_box.head_shrink #header{
    padding: 1em 12em 1.4em 1em;
}

#main_box.head_shrink #header_title_1{
    font-size: 2em;
}

#main_box.head_shrink #header_title_2{
    display: none;
}

#main_box.head_shrink #header_logo{
    height: 5em;
    width: 5em;
}

#activity_boxes_wrapper{
    text-align: center;
    padding-top: 1em;
}

.activity_box{
    width: 20em;
    background-color: white;
    box-shadow: 0 0 10px grey;
    margin: 1em;
    display: inline-block;
    padding: 10px;
    text-align: right;
    border-radius: 10px;
}

.activity_box_title{
    color: #2f4f4f;
    font-weight: bold;
    font-size: 1.5em;
    padding: 8px;
    border-bottom: 1px gray dotted;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.activity_box_desc{
    height: 4em;
    padding: 8px;
    overflow-y: auto;
}

.activity_box_value{
    padding: 0 8px 8px 8px;
    border-bottom: 1px gray dotted;
}

.activity_box_status{
    padding: 0 8px 8px 8px;
}

.activity_box_status_value{
    font-weight: bold;
    font-size: 1.5em;
    color: #06b12e;
}
.activity_box_status>table{width: 100%;}
.activity_box_status_value_title, .activity_box_status_joined_title, .activity_box_status_goal_title{width: 0;}
.activity_box_status_joined, .activity_box_status_goal {
    font-weight: bold;
    color:#2f4f4f;
    font-size: 1.5em;
}


.dv_activity_progress{
    height:2em;
    display: inline-block;
    width: 50%;
    position: relative;
}

#activity_boxes_wrapper .dv_activity_progress .pb_div1>div  { top: 72%; }
#activity_boxes_wrapper .dv_activity_progress .pb_div2>div  { top: 64%; }
#activity_boxes_wrapper .dv_activity_progress .pb_div3>div  { top: 56%; }
#activity_boxes_wrapper .dv_activity_progress .pb_div4>div  { top: 48%; }
#activity_boxes_wrapper .dv_activity_progress .pb_div5>div  { top: 40%; }
#activity_boxes_wrapper .dv_activity_progress .pb_div6>div  { top: 32%; }
#activity_boxes_wrapper .dv_activity_progress .pb_div7>div  { top: 24%; }
#activity_boxes_wrapper .dv_activity_progress .pb_div8>div  { top: 16%; }
#activity_boxes_wrapper .dv_activity_progress .pb_div9>div  { top: 8%; }
#activity_boxes_wrapper .dv_activity_progress .pb_div10>div  { top: 0%; }

.dv_activity_progress .pb_parent>div>div{
    inset: 0.1em;
}

.activity_box_toolbox{
    padding: 16px 8px 4px 8px;
    border-top: 1px gray dotted;
    position: relative;
}

.bt_activity_add{
    background-color: #1b74e4;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 10px;
    padding: 10px;
    border: 0;
    cursor: pointer;
}

.bt_activity_add:hover{
    background-color: darkblue;
}

#filter_box_wrapper{
    padding: 15px;
    border-bottom: 1px silver solid;
    background-color: #f0ffffa8;
}

.filter_box{
    padding: 0.5em 15em 0.5em 0.5em;
    white-space: nowrap;
}

.filter_box>div{
    display: inline-block;
}

/*
.filter_box>div:not(:first-child, :last-child){
    border-left: 2px gray solid;
    padding-left: 1.5em;
    padding-right: 0.5em;
    cursor: pointer;
}

.filter_box_item{
    padding-left: 1.5em;
    padding-right: 0.5em;
}

.filter_box_item:hover label{
    color: blue;
    transform: scale(1.1);
}

.filter_box_item label{
    cursor: pointer;
}

.filter_box>div:not(:first-child, :last-child){
    border-left: 2px gray solid;
    cursor: pointer;
} */

.filter_box_item:hover{
    box-shadow: 0 0 5px gray;
}

.filter_box_item{
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.filter_box_item label{
    cursor: pointer;
}

.filter_box input[type="checkbox"]{
    transform: scale(1.5);
    margin-left: 1em;
    cursor: pointer;
}

.filter_box_title{
    text-decoration: underline;
    font-weight: bold;
    color : #2f4f4f;
    padding-left: 2em;
}

#bt_home{
    position: absolute;
    left: 2em;
    top: 1.2em;
    width: 40px;
    height: 40px;
    background-image: url(../img/blue_re-pict-house-base.png_32.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    border-radius: 32px;
    background-size: 64%;
    display: none;
}

#bt_home:hover{
    box-shadow: 0 0 8px gray;
}

#main_box.head_shrink #bt_home{
    display: block;
}
