html, body{
    margin: 0;
    padding: 0;
    font-size: clamp(0.8em, 1vw, 1em);
    /* font-size: clamp(0.85em, 0.85vw, 1em); */
}

body{
    text-align: right;
    direction: rtl;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    display: none;
}

#dv_header {
    background-color: #2f4f4f;
    color: white;
    text-align: right;
    position: sticky;
    top:0;
    z-index: 1;
    /* padding: 10px 10px 10px 50vw; */
    /* font-weight: 500; */
}

.ico_header{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2vw;
    border-radius: 40px;
}

.ico_header:after {
    content: "";
    position: absolute;
    inset: 0;
}

#ico_menu {
    left: 1vw;
}

#ico_menu:after {
    background-image: url(../img/menu.png);
}

#ico_filter {
    left: 12vw;
    transition: 200ms;
}

#ico_filter:after {
    background-image: url(../img/search.png);
}

#dv_header_title {
    padding: 10px 80px 10px 90px;;
    font-size: 1.5em;
    background-image: url(../img/cramim96.png);
    background-repeat: no-repeat;
    background-position: right 5px top 5px;
    background-size: contain;
    font-weight: 500;
    transition: 200ms;
    max-height: 500px;
}

.head_shrink #dv_header_title {
    max-height: 0px;
    padding: 0;
    overflow: hidden;
}

.head_shrink #ico_menu {
    display: none;
}

.head_shrink #ico_filter {
    left: 1vw;
    top: 0.3vw;
}

#dv_header_title>div {
    overflow: hidden;
}
#dv_header_title>div>span {
    white-space: nowrap;
}
#dv_header_tabs{
    text-align: center;
    white-space: nowrap;
}

#dv_header_tabs>div {
    display: inline-block;
    width: 7em;
    padding: 0.5em;
    font-size: 1.5em;
}

#tab_indicator_wrapper{
    padding: 1px;
    height: 0.3em;
}
#tab_indicator {
    background-color: white;
    width: 0;
    height: 0.3em;
    border-radius: 0.3em;
    position: absolute;
    transition: 100ms;
    left: 0;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
    outline: none;
}
  .ripple:hover {
    background: #2f4f4f radial-gradient(circle, transparent 1%, #2f4f4f 1%) center/15000%;
  }
  
  .ripple:active {
    background-color: #2f8f8f;
    background-size: 100%;
    transition: background 0s;
  }

 .select_disabled{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page{
    min-height: 1400px;
    display: none;
    font-size: 5em;
}

.tab_title{
    color:white;
    font-weight: 500;
}

.tab_title_inactive{
    color:silver;
    font-weight: initial;
}

#page_user{
    background-color: green;
}

#page_activity{
    background-color: blue;
}

#page_filter{
    background-color: yellow;
}

#ico_up {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 4vw;
    left: 4vw;
    border-radius: 40px;
    background-color: white;
    box-shadow: 2px 2px 6px darkslategray;
    display: none;
}

#ico_up:after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/mobile_up.png);
}

#dv_screen_message{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #efefef;
    z-index: 9999;
}

#dv_screen_message>div{
    padding-bottom: 10vh;
}

#dv_screen_message_txt{
    font-size: 5vw;
    font-weight: 200;
    color: #606060;
}

#dv_screen_message_logo{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 20vw;
    width: 20vw;
    border-radius: 20vw;
    border: 1px gray solid;
    display: inline-block;
}


#dv_login {
    inset: 0;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    text-align: center;
    background-image: url(../img/bg_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#dv_login::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 120%);
}

#dv_login table {
    padding:1rem;
    /* background-color: #ffffffa6; */
    border-radius: 2rem;
}

#dv_login table td{
    position: relative;
}

#eb_login {
    font-size: 1rem;
    direction: ltr;
    text-align: left;
    padding: 0.2rem;
    border-radius: 1rem;
    border: 2px gray solid;
    box-shadow: 2px 2px 2px white;
}

#dv_login_logo {
    background-image: url(../img/logo.png);
    height: 10rem;
    width: 10rem;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10rem;
    background-position: center;
    display: inline-block;
    box-shadow: 0 8px 11px grey;
    position: absolute;
    margin: auto;
    top: -8rem;
    right: 0;
    left: 0;
}

#bt_login {
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: #2f4f4f;
    color: white;
    padding: 1rem 1rem;
    cursor: pointer;
    border: 1px white solid;
    box-shadow: 0px 0px 20px white;
    display: inline-block;
    margin: 2rem 0 1rem 0;
}

#dv_login_title {
    font-size: 2.5rem;
    padding: 3rem 1rem 2rem;
    color: #2f4f4f;
    text-shadow: 2px 2px 2px white;
}

#eb_login {
    font-size: 1.5rem;
    direction: ltr;
    text-align: left;
    padding: 0.3rem;
    border-radius: 8px;
    border: 2px gray solid;
    box-shadow: 2px 2px 2px white;
}

::-webkit-input-placeholder { /* Edge */
    color: #2f4f4f;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2f4f4f;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
}

::placeholder {
    color: #2f4f4f;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
}
